[submodule "yss"]
	path = yss
	url = https://github.com/mymy49/yss
[submodule "module/2.8inch_TFT_Touch_Shield_Rev2.1"]
	path = module/2.8inch_TFT_Touch_Shield_Rev2.1
	url = https://github.com/mymy49/2.8inch_TFT_Touch_Shield_Rev2.1
